<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true" standardController="opportunity"  extensions="VFC_EditBudget"> 
<style>
    .celluletitre{margin-left:5px;}
    .cellulePisk{margin-left:5px;width: 92%;_height: 98%;border: 1px solid white;}
    .celluleDevise{margin-left:5px;width: 92%;_height: 98%;border: 1px solid white;}
    td span {margin-left:5px;}
    table.apvl td,table.bgt td{width: 110px;height: 25px;border: 1px solid black;background : white;}
    table.apvl,table.bgt,table.ebgt{border-collapse: collapse;}
    
    table.bgt,table.bgt td,table.bgt tr {border: 1px solid black;vertical-align: middle;}
    table.bgt,table.bgt td,table.bgt tr {border-left: 0px solid black;vertical-align: middle;}
    table.apvl,table.apvl tr,table.apvl td{border: 1px solid orange;vertical-align: middle;}
    table.ebgt,table.ebgt td,table.ebgt tr {border: 1px solid black;vertical-align: middle;}
    
    div.overlap{
        top: 0px;
        width:99%;
        height:350px;
        position: fixed;
        z-index: 10000000;
        border: 2px solid orange;
        background-color: rgba(255, 102, 0, 0.1);
    }
    td span.surbrillant{
        /*background-color: yellow;*/
    }
    .rotate{
        -ms-transform: rotate(-15deg); /* IE 9 */
        -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
        transform: rotate(-15deg);
        text-align:center;
        margin-top:100px;
        font-size: 300%;
        color:gray;
        text-transform: uppercase;
        text-shadow: 2px 2px #C0C0C0;
    }
    .ellipsis{
        display:block;
        white-space: nowrap;
        width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
</style>
    <apex:form >
        <apex:messages />
            <apex:pageBlock mode="edit">
                <!--
                <apex:outputPanel layout="block" styleClass="overlap" rendered="{!isOprApvlPending}">
                    <apex:outputPanel layout="block" styleClass="rotate">
                        <apex:outputText value="opr en cours d'approbation" style="opacity: 0.3;filter: alpha(opacity=30);"/>
                    </apex:outputPanel>
                </apex:outputPanel>-->
                <!----------------budget Prestation-------------------------->
                <apex:outputPanel layout="block" id="budgetBlock" style="margin:10px;position:relative;">
                    <apex:outputPanel layout="none" rendered="{!NOT(isBusinessDeveloppement)}">
                        <apex:outputPanel layout="block" style="float:left;">
                            <table class="bgt ebgt"><tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.annee__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.Statut__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.mbAnnuel__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.caAnnuel__c.label}</span></td></tr>
                            </table>
                        </apex:outputPanel>
                        <apex:repeat value="{!lstbgt}" var="bgt">
                            <apex:outputPanel layout="block" style="float:left;">
                                <table class="{!IF(bgt.isApproval__c==true||!$ObjectType.Opportunity.updateable,'apvl','bgt')}">
                                    <tr><td><!----------------année-------------------------->
                                        <apex:selectList value="{!bgt.annee__c}" multiselect="false" size="1" styleClass="cellulePisk" rendered="{!IF(Not(isOprApvlPending)  && bgt.id==null,true,false)}">
                                            <apex:selectOption itemValue="" itemLabel=""/>
                                            <apex:selectOptions value="{!Annees}"/>                          
                                        </apex:selectList>
                                        <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending || bgt.id!=null}">
                                            <apex:outputfield value="{!bgt.annee__c}"/>
                                        </apex:outputPanel>
                                    </td></tr>
                                    <tr><td><!----------------Statut-------------------------->
                                        <apex:inputfield value="{!bgt.Statut__c}" styleClass="cellulePisk" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputfield>
                                        <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                            <apex:outputfield value="{!bgt.Statut__c}"/>
                                        </apex:outputPanel>
                                    </td></tr>
                                    <tr><td><!----------------Reference-------------------------->
                                        <apex:inputfield value="{!bgt.mbAnnuel__c}" styleClass="celluleDevise" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputfield>
                                        <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                            <apex:outputfield value="{!bgt.mbAnnuel__c}"/>
                                        </apex:outputPanel>
                                    </td></tr>
                                    <tr><td><!----------------Reference-------------------------->
                                        <apex:inputfield value="{!bgt.caAnnuel__c}" styleClass="celluleDevise" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputfield>
                                        <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                            <apex:outputfield value="{!bgt.caAnnuel__c}" />
                                        </apex:outputPanel>
                                    </td></tr>                                    
                                </table>
                            </apex:outputPanel>
                        </apex:repeat>
                        <apex:outputPanel layout="block" style="margin:10px;float:left;">
                            <apex:commandLink reRender="budgetBlock" action="{!AddOne}" rendered="{!Not(isOprApvlPending) && NOT(isValidContrat)}">
                                <apex:image value="{!URLFOR($Resource.imagefile, 'add.png')}"/>
                            </apex:commandLink>                    
                        </apex:outputPanel>
                    </apex:outputPanel>
                    <!----------------budget Commission-------------------------->
                    <apex:outputPanel layout="none" rendered="{!isBusinessDeveloppement && isDetail}">
                        <apex:outputPanel layout="block" style="float:left;">
                            <table class="bgt ebgt">
                                <tr><td style="width:140px"><span class="celluletitre">{!$ObjectType.Budget__c.Fields.Reference__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.descriptionPiece__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.annee__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.Statut__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.volumeAnnee__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.prixPieceBrut__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.prixPieceNet__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.caBrutAnnuel__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.caNetAnnuel__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.tauxCommission__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$Label.vfpCommissionCa}</span></td></tr>
                            </table>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" style="height:330px;margin:0px;overflow-x:scroll;">
                        <apex:outputPanel layout="block" style="height:300px;width:10000px;margin:0px;position:relative;overflow:none;">
                        <apex:repeat value="{!lstbgt}" var="bgt">
                            <apex:outputPanel layout="block" style="float:left;">
                              <table class="{!IF(bgt.isApproval__c==true ||!$ObjectType.Opportunity.updateable,'apvl','bgt')}">
                                  <tr><td><!----------------Reference-------------------------->
                                      <apex:inputfield value="{!bgt.Reference__c}" styleClass="celluleDevise" rendered="{!IF(Not(isOprApvlPending) && bgt.id==null,true,false)}"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputfield>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!IF(isOprApvlPending || bgt.id!=null,true,false)}">
                                          <apex:outputfield value="{!bgt.Reference__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td><!----------------Reference-------------------------->
                                      <apex:inputText value="{!bgt.descriptionPiece__c}" styleClass="celluleDevise" rendered="{!IF(Not(isOprApvlPending) && bgt.id==null,true,false)}" style="top:0;"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputText>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise ellipsis"  rendered="{!IF(isOprApvlPending || bgt.id!=null,true,false)}">
                                          <apex:outputfield value="{!bgt.descriptionPiece__c}" title="{!bgt.descriptionPiece__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td><!----------------année-------------------------->
                                      <apex:selectList value="{!bgt.annee__c}" multiselect="false" size="1" styleClass="cellulePisk" rendered="{!IF(Not(isOprApvlPending) && bgt.id==null,true,false)}">
                                        <apex:selectOption itemValue="" itemLabel=""/>
                                        <apex:selectOptions value="{!Annees}"/>                          
                                      </apex:selectList>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending || bgt.id!=null}">
                                          <apex:outputfield value="{!bgt.annee__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td><!----------------Statut-------------------------->
                                      <apex:inputfield value="{!bgt.Statut__c}" styleClass="cellulePisk" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="budgetBtn" action="{!upEdit}"/></apex:inputfield>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                          <apex:outputfield value="{!bgt.Statut__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  
                                  <tr><td><!----------------volumeAnnee-------------------------->
                                      <apex:inputfield value="{!bgt.volumeAnnee__c}" styleClass="celluleDevise" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="caBrutAnnuelId,caNetAnnuelId,caAnnuelId,budgetBtn" action="{!upEditbd}"/></apex:inputfield>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                          <apex:outputfield value="{!bgt.volumeAnnee__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td><!----------------prixPieceBrute-------------------------->
                                      <apex:inputfield value="{!bgt.prixPieceBrut__c}" styleClass="cellulePisk" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="caBrutAnnuelId,caNetAnnuelId,caAnnuelId,budgetBtn" action="{!upEditbd}"/></apex:inputfield>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                          <apex:outputfield value="{!bgt.prixPieceBrut__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td><!----------------prixPieceNet-------------------------->
                                     <apex:inputfield value="{!bgt.prixPieceNet__c}" styleClass="celluleDevise" rendered="{!Not(isOprApvlPending)}"><apex:actionSupport event="onchange" reRender="caBrutAnnuelId,caNetAnnuelId,caAnnuelId,budgetBtn" action="{!upEditbd}"/></apex:inputfield>
                                     <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                          <apex:outputfield value="{!bgt.prixPieceNet__c}"/>
                                      </apex:outputPanel>
                                  </td></tr><!----------------caBrutAnnuel-------------------------->
                                  <tr><td><apex:outputfield value="{!bgt.caBrutAnnuel__c}" id="caBrutAnnuelId" styleClass="celluleDevise"/></td></tr>
                                  <tr><td><apex:outputfield value="{!bgt.caNetAnnuel__c}" id="caNetAnnuelId" styleClass="celluleDevise"/></td></tr>
                                  <tr><td><!----------------tauxCommission-------------------------->
                                      <apex:inputfield value="{!bgt.tauxCommission__c}" styleClass="celluleDevise" rendered="{!Not(isOprApvlPending) }"><apex:actionSupport event="onchange" reRender="caBrutAnnuelId,caNetAnnuelId,caAnnuelId,budgetBtn" action="{!upEditbd}"/></apex:inputfield>
                                      <apex:outputPanel layout="inline" styleClass="celluleDevise" rendered="{!isOprApvlPending}">
                                          <apex:outputfield value="{!bgt.tauxCommission__c}"/>
                                      </apex:outputPanel>
                                  </td></tr>
                                  <tr><td>
                                  <apex:outputfield value="{!bgt.caAnnuel__c}" styleClass="celluleDevise" id="caAnnuelId"/></td></tr>
                              </table>
                            </apex:outputPanel>
                        </apex:repeat>
                        <apex:outputPanel layout="block" style="margin:10px;float:left;">
                            <apex:commandLink reRender="budgetBlock" action="{!AddOne}" rendered="{!Not(isOprApvlPending) && NOT(isValidContrat)}">
                                <apex:image value="{!URLFOR($Resource.imagefile, 'add.png')}"/>
                            </apex:commandLink>                    
                        </apex:outputPanel>
                        </apex:outputPanel>
                        </apex:outputPanel>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!isBusinessDeveloppement && not(isDetail)}">
                        <apex:outputPanel layout="block" style="float:left;">
                            <table class="bgt ebgt">
                                <tr><td style="width:140px;"><span class="celluletitre">{!$ObjectType.Budget__c.Fields.annee__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.Statut__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.caBrutAnnuel__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$ObjectType.Budget__c.Fields.caNetAnnuel__c.label}</span></td></tr>
                                <tr><td><span class="celluletitre">{!$Label.vfpCommissionCa}</span></td></tr>
                            </table>
                        </apex:outputPanel>
                        <apex:repeat value="{!lstBdgTete}" var="bgt">
                            <apex:outputPanel layout="block" style="float:left;">
                              <table class="{!IF(bgt.isApproval__c==true,'apvl','bgt')}">
                                  <tr><td><apex:outputfield value="{!bgt.annee__c}" styleClass="celluleDevise" /></td></tr>
                                  <tr><td><apex:outputfield value="{!bgt.Statut__c}"/></td></tr>
                                  <tr><td><apex:outputfield value="{!bgt.caBrutAnnuel__c}" styleClass="celluleDevise"/></td></tr>
                                  <tr><td><apex:outputfield value="{!bgt.caNetAnnuel__c}" styleClass="celluleDevise"/></td></tr>
                                  <tr><td><apex:outputfield value="{!bgt.caAnnuel__c}" styleClass="celluleDevise" id="caAnnuelId"/></td></tr>
                              </table>
                            </apex:outputPanel>
                        </apex:repeat>
                    </apex:outputPanel>
                    <div style="clear:both;"></div>
                </apex:outputPanel>
                 <!----------------budget globalCommission-------------------------->
                
            <apex:pageblockbuttons location="bottom">
                <apex:outputPanel layout="block" id="budgetBtn">
                    <apex:commandbutton value="{!if(isDetail,$Label.btnAffichageGlobal,$Label.btnAffichageDetail)}" action="{!setMode}" rendered="{!isBusinessDeveloppement}"/>
                    <apex:commandbutton value="{!$Label.btnUpdate}" action="{!UpdateBgt}" disabled="{!isDisabled}" rendered="{!IF(NOT(isValidContrat),true,false)}"/>
                    <apex:commandbutton value="{!$Label.btnSubmitApproval}" action="{!AprlBgt}" disabled="{!isDisabled}" rendered="{!IF(isValidContrat && $User.Id==opportunity.ownerid,true,false)}"/>
                </apex:outputPanel>
            </apex:pageblockbuttons>
        </apex:pageBlock>
    </apex:form>
</apex:page>